TP03_-_HugoLand_-_Service_WCF/TP03 - HugoLand - Client/Connected Services/HL_Services/HugoLandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HugoLandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJoueurService_Connection_InputMessage">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="IJoueurService_Connection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IJoueurService_GetHeroesByAccountId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeroesByAccountId" />
  </wsdl:message>
  <wsdl:message name="IJoueurService_GetHeroesByAccountId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeroesByAccountIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJoueurService_GetAccountByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByName" />
  </wsdl:message>
  <wsdl:message name="IJoueurService_GetAccountByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IJoueurService">
    <wsdl:operation name="Connection">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoueurService/Connection" message="tns:IJoueurService_Connection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoueurService/ConnectionResponse" message="tns:IJoueurService_Connection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHeroesByAccountId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoueurService/GetHeroesByAccountId" message="tns:IJoueurService_GetHeroesByAccountId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoueurService/GetHeroesByAccountIdResponse" message="tns:IJoueurService_GetHeroesByAccountId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IJoueurService/GetAccountByName" message="tns:IJoueurService_GetAccountByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJoueurService/GetAccountByNameResponse" message="tns:IJoueurService_GetAccountByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJoueurService" type="tns:IJoueurService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connection">
      <soap:operation soapAction="http://tempuri.org/IJoueurService/Connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHeroesByAccountId">
      <soap:operation soapAction="http://tempuri.org/IJoueurService/GetHeroesByAccountId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByName">
      <soap:operation soapAction="http://tempuri.org/IJoueurService/GetAccountByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HugoLandService">
    <wsdl:port name="BasicHttpBinding_IJoueurService" binding="tns:BasicHttpBinding_IJoueurService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>