TP03_-_HugoLand_-_Service_WCF/TP03 - HugoLand - Client/Connected Services/HL_Services/Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfHeroDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeroDTO" nillable="true" type="tns:HeroDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeroDTO" nillable="true" type="tns:ArrayOfHeroDTO" />
  <xs:complexType name="HeroDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classe" nillable="true" type="tns:ClasseDTO" />
      <xs:element minOccurs="0" name="ClasseId" type="xs:int" />
      <xs:element minOccurs="0" name="CompteJoueur" nillable="true" type="tns:CompteJoueurDTO" />
      <xs:element minOccurs="0" name="CompteJoueurId" type="xs:int" />
      <xs:element minOccurs="0" name="EstConnecte" type="xs:boolean" />
      <xs:element minOccurs="0" name="Experience" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InventaireHeros" nillable="true" type="tns:ArrayOfInventaireHeroDTO" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItemDTO" />
      <xs:element minOccurs="0" name="Monde" nillable="true" type="tns:MondeDTO" />
      <xs:element minOccurs="0" name="MondeId" type="xs:int" />
      <xs:element minOccurs="0" name="Niveau" type="xs:long" />
      <xs:element minOccurs="0" name="NomHero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatVitalite" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroDTO" nillable="true" type="tns:HeroDTO" />
  <xs:complexType name="ClasseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descrpition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heros" nillable="true" type="tns:ArrayOfHeroDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Monde" nillable="true" type="tns:MondeDTO" />
      <xs:element minOccurs="0" name="MondeId" type="xs:int" />
      <xs:element minOccurs="0" name="NomClasse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatBaseDex" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseStr" type="xs:int" />
      <xs:element minOccurs="0" name="StatBaseVitalite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClasseDTO" nillable="true" type="tns:ClasseDTO" />
  <xs:complexType name="MondeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classes" nillable="true" type="tns:ArrayOfClasseDTO" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heros" nillable="true" type="tns:ArrayOfHeroDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItemDTO" />
      <xs:element minOccurs="0" name="LimiteX" type="xs:int" />
      <xs:element minOccurs="0" name="LimiteY" type="xs:int" />
      <xs:element minOccurs="0" name="Monstres" nillable="true" type="tns:ArrayOfMondeDTO" />
      <xs:element minOccurs="0" name="ObjetMondes" nillable="true" type="tns:ArrayOfObjetMondeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MondeDTO" nillable="true" type="tns:MondeDTO" />
  <xs:complexType name="ArrayOfClasseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClasseDTO" nillable="true" type="tns:ClasseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClasseDTO" nillable="true" type="tns:ArrayOfClasseDTO" />
  <xs:complexType name="ArrayOfItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemDTO" nillable="true" type="tns:ItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemDTO" nillable="true" type="tns:ArrayOfItemDTO" />
  <xs:complexType name="ItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffetsItems" nillable="true" type="tns:ArrayOfEffetItemDTO" />
      <xs:element minOccurs="0" name="Hero" nillable="true" type="tns:HeroDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdHero" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InventaireHeroDTOs" nillable="true" type="tns:ArrayOfInventaireHeroDTO" />
      <xs:element minOccurs="0" name="Monde" nillable="true" type="tns:MondeDTO" />
      <xs:element minOccurs="0" name="MondeId" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDTO" nillable="true" type="tns:ItemDTO" />
  <xs:complexType name="ArrayOfEffetItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EffetItemDTO" nillable="true" type="tns:EffetItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEffetItemDTO" nillable="true" type="tns:ArrayOfEffetItemDTO" />
  <xs:complexType name="EffetItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:ItemDTO" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeEffet" type="xs:int" />
      <xs:element minOccurs="0" name="ValeurEffet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EffetItemDTO" nillable="true" type="tns:EffetItemDTO" />
  <xs:complexType name="ArrayOfInventaireHeroDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventaireHeroDTO" nillable="true" type="tns:InventaireHeroDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventaireHeroDTO" nillable="true" type="tns:ArrayOfInventaireHeroDTO" />
  <xs:complexType name="InventaireHeroDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hero" nillable="true" type="tns:HeroDTO" />
      <xs:element minOccurs="0" name="IdHero" type="xs:int" />
      <xs:element minOccurs="0" name="IdInventaireHero" type="xs:int" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:ItemDTO" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantite" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventaireHeroDTO" nillable="true" type="tns:InventaireHeroDTO" />
  <xs:complexType name="ArrayOfMondeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MondeDTO" nillable="true" type="tns:MondeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMondeDTO" nillable="true" type="tns:ArrayOfMondeDTO" />
  <xs:complexType name="ArrayOfObjetMondeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjetMondeDTO" nillable="true" type="tns:ObjetMondeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjetMondeDTO" nillable="true" type="tns:ArrayOfObjetMondeDTO" />
  <xs:complexType name="ObjetMondeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Monde" nillable="true" type="tns:MondeDTO" />
      <xs:element minOccurs="0" name="MondeId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeObjet" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjetMondeDTO" nillable="true" type="tns:ObjetMondeDTO" />
  <xs:complexType name="CompteJoueurDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Courriel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heros" nillable="true" type="tns:ArrayOfHeroDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MotDePasseHash" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomJoueur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" type="ser:guid" />
      <xs:element minOccurs="0" name="TypeUtilisateur" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompteJoueurDTO" nillable="true" type="tns:CompteJoueurDTO" />
</xs:schema>