TP03_-_HugoLand_-_Service_WCF/TP03 - HugoLand - Client/Connected Services/HL_Services/Services4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TP01_Library.Models" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.Models" />
  <xs:element name="Connection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroesByAccountId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroesByAccountIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetHeroesByAccountIdResult" nillable="true" type="q1:ArrayOfHeroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetAccountByNameResult" nillable="true" type="q2:CompteJoueurDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToHerosDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TP01_Library.Models" minOccurs="0" name="heroes" nillable="true" type="q3:ArrayOfHero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToHerosDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="ConvertToHerosDTOResult" nillable="true" type="q4:ArrayOfHeroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToClassesDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TP01_Library.Models" minOccurs="0" name="classes" nillable="true" type="q5:ArrayOfClasse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToClassesDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="ConvertToClassesDTOResult" nillable="true" type="q6:ArrayOfClasseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMondeDTOs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMondeDTOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetMondeDTOsResult" nillable="true" type="q7:ArrayOfMondeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldsForSelection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldsForSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetWorldsForSelectionResult" nillable="true" type="q8:ArrayOfMondeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassToDataBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="classeDTO" nillable="true" type="q9:ClasseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassToDataBaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasseDTOs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClasseDTOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetClasseDTOsResult" nillable="true" type="q10:ArrayOfClasseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="classeDTO" nillable="true" type="q11:ClasseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDTOFromMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_MapId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDTOFromMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetClassDTOFromMapResult" nillable="true" type="q12:ArrayOfClasseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToItemsDTOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TP01_Library.Models" minOccurs="0" name="items" nillable="true" type="q13:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToItemsDTOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="ConvertToItemsDTOsResult" nillable="true" type="q14:ArrayOfItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEffetItemsDTOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TP01_Library.Models" minOccurs="0" name="effetItems" nillable="true" type="q15:ArrayOfEffetItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEffetItemsDTOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="ConvertToEffetItemsDTOsResult" nillable="true" type="q16:ArrayOfEffetItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToInventaireHeroDTOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TP01_Library.Models" minOccurs="0" name="inventaireHeroes" nillable="true" type="q17:ArrayOfInventaireHero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToInventaireHeroDTOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="ConvertToInventaireHeroDTOsResult" nillable="true" type="q18:ArrayOfInventaireHeroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToMonstresDTOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TP01_Library.Models" minOccurs="0" name="monstres" nillable="true" type="q19:ArrayOfMonstre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToMonstresDTOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="ConvertToMonstresDTOsResult" nillable="true" type="q20:ArrayOfMonstreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToObjetMondeDTOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TP01_Library.Models" minOccurs="0" name="objetMondes" nillable="true" type="q21:ArrayOfObjetMonde" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToObjetMondeDTOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="ConvertToObjetMondeDTOsResult" nillable="true" type="q22:ArrayOfObjetMondeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonstreToTile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="monstre" nillable="true" type="q23:MonstreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonstreToTileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.Models" minOccurs="0" name="MonstreToTileResult" nillable="true" type="q24:TileImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemToTile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="item" nillable="true" type="q25:ItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemToTileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.Models" minOccurs="0" name="ItemToTileResult" nillable="true" type="q26:TileImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjetMondeToTile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="objet" nillable="true" type="q27:ObjetMondeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjetMondeToTileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.Models" minOccurs="0" name="ObjetMondeToTileResult" nillable="true" type="q28:TileImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHeroToDataBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="p_heroDTO" nillable="true" type="q29:HeroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHeroToDataBaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>