TP03_-_HugoLand_-_Service_WCF/TP03 - HugoLand - Client/Connected Services/HL_Services/Services1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TileImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Images" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsBlock" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTransparent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfFrames" type="xs:int" />
      <xs:element minOccurs="0" name="Shortcut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:TypeTile" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxDMG" type="xs:int" />
      <xs:element minOccurs="0" name="minDMG" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TileImport" nillable="true" type="tns:TileImport" />
  <xs:simpleType name="TypeTile">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ObjetMonde" />
      <xs:enumeration value="Monstre" />
      <xs:enumeration value="Item" />
      <xs:enumeration value="ClasseHero" />
      <xs:enumeration value="Tile" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeTile" nillable="true" type="tns:TypeTile" />
</xs:schema>