TP03_-_HugoLand_-_Service_WCF/TP03 - HugoLand - Client/Connected Services/HL_Services/Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HugoWorld_WCF/Services?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" />
  <xs:element name="Connection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroesByAccountId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroesByAccountIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetHeroesByAccountIdResult" nillable="true" type="q1:ArrayOfHeroDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HugoWorld_WCF.DTOs" minOccurs="0" name="GetAccountByNameResult" nillable="true" type="q2:CompteJoueurDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>